
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1  wow slideInLeft" >
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Detail product</li>
			</ol>
		</div>
	</div>
<div class="singleshoping">

<div class="container">
<div class="col-md-12"	>
	<div class="col-md-5 grid">		
		<div class="flexslider">
			  <ol class="slides flex-control-nav flex-control-thumbs">
			    <li data-thumb="images/si.jpg">
			        <div class="thumb-image"> <img src="images/si.jpg" data-imagezoom="true" class="img-responsive"> </div>
			    </li>
			    <li data-thumb="images/si1.jpg">
			         <div class="thumb-image"> <img src="images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>
			    </li>
			    <li data-thumb="images/si2.jpg">
			       <div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
			    </li> 
			  </ol>
		</div>
	</div>	
<div class="col-md-7 singleshoping-top-in">
						<div class="span_2_of_a1 simpleCart_shelfItem">
				<h3>Nam liber tempor cum</h3>
				<p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
			    <div class="price_singleshoping">
			    
				  <span class="reducedfrom item_price">Cost: $140.00</span>
				 <div class="clearfix"></div>
				 
				 <div class="clearfix"></div>
				</div>
				<h4 class="quick">Quick Overview:</h4>
				<p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
			    <div class="wish-list">
				 	<div class="rating1">
				 	<p>Comment:</p>
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
				 </div>
				 
				 
			    
			<div class="clearfix"> </div>
			</div>
		
					</div>
			<
</div>
<!----->


	</div>
	</div>
		<!--//brand-->
	</div>
			
		</div>
	<!--//content-->

<div class="single-related-products">
		<div class="container">
			<h3 class="animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">Related Products</h3>
			<p class="est animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
				deserunt mollit anim id est laborum.</p>
			<div class="new-collections-grids">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="#" class="img-product"> <img src="images/1.jpg" class="img-responsive img-responsive-product" alt="">
				</a>
					<div class="title label label-info">RUNNING SHOES</div>
					<div class="info-product">
						<div class="number-bids"><span class="label-number label label-default">Bids:</span> <span class="label label-info text-number-bids">6</span></div>
						
						<div class="user-bids">
							<span class="label label-default user-name ">
								Nhom 7
							</span>
							<div class="price-product label label-info">
								100.000
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="timer-server label label-info">
							12:0:0
						</div>
						<div class="form-product">
							<div class="price-pay-now label label-info">
								200.000
							</div>
							<div class="submit-pay btn btn-primary">
								BID Now
							</div>
						</div>
					</div>
				

			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="#" class="img-product"> <img src="images/1.jpg" class="img-responsive img-responsive-product" alt="">
				</a>
					<div class="title label label-info">RUNNING SHOES</div>
					<div class="info-product">
						<div class="number-bids"><span class="label-number label label-default">Bids:</span> <span class="label label-info text-number-bids">6</span></div>
						
						<div class="user-bids">
							<span class="label label-default user-name ">
								Nhom 7
							</span>
							<div class="price-product label label-info">
								100.000
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="timer-server label label-info">
							12:0:0
						</div>
						<div class="form-product">
							<div class="price-pay-now label label-info">
								200.000
							</div>
							<div class="submit-pay btn btn-primary">
								BID Now
							</div>
						</div>
					</div>
				

			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="#" class="img-product"> <img src="images/1.jpg" class="img-responsive img-responsive-product" alt="">
				</a>
					<div class="title label label-info">RUNNING SHOES</div>
					<div class="info-product">
						<div class="number-bids"><span class="label-number label label-default">Bids:</span> <span class="label label-info text-number-bids">6</span></div>
						
						<div class="user-bids">
							<span class="label label-default user-name ">
								Nhom 7
							</span>
							<div class="price-product label label-info">
								100.000
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="timer-server label label-info">
							12:0:0
						</div>
						<div class="form-product">
							<div class="price-pay-now label label-info">
								200.000
							</div>
							<div class="submit-pay btn btn-primary">
								BID Now
							</div>
						</div>
					</div>
				

			</div>
			
			
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="clearfix"> </div>	
		<div class="three-com">
			<h3 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">3 Comment <span>on</span> <label>Donec volutpat ligula non dapibus volutpat</label></h3>
			<div class="tom-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="tom">
					<img src="images/co.png" alt=" " />
				</div>
				<div class="tom-right">
					<div class="Hardy">
						<h4>Tom Hardy</h4>
						<p><label>10 September 2015</label></p>
					</div>
					<div class="reply">
						<a href="#">Reply</a>
					</div>
					<div class="clearfix"> </div>
					<p class="lorem">There are many variations of passages of Lorem Ipsum available,
					but the majority have suffered alteration in some form, by injected humour, 
					or randomised words which don't.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="tom-grid humour wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="tom">
					<img src="images/co.png" alt=" " />
				</div>
				<div class="tom-right">
					<div class="Hardy">
						<h4>Prad Pitt</h4>
						<p><label>10 September 2015</label></p>
					</div>
					<div class="reply">
						<a href="#">Reply</a>
					</div>
					<div class="clearfix"> </div>
					<p class="lorem">There are many variations of passages of Lorem Ipsum available,
					but the majority have suffered alteration in some form, by injected humour, 
					or randomised words which don't.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="tom-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="tom">
					<img src="images/co.png" alt=" " />
				</div>
				<div class="tom-right">
					<div class="Hardy">
						<h4>Tom Cruis</h4>
						<p><label>10 September 2015</label></p>
					</div>
					<div class="reply">
						<a href="#">Reply</a>
					</div>
					<div class="clearfix"> </div>
					<p class="lorem">There are many variations of passages of Lorem Ipsum available,
					but the majority have suffered alteration in some form, by injected humour, 
					or randomised words which don't.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="leave-comment wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
			<h3>Leave your comment</h3>
			<p>Suspendisse tempor tellus sed nisl semper, quis condimentum turpis pharetra.</p>
			<form>
				<input type="text" placeholder="Name" required=" ">			           					   
				<input type="text" placeholder="Email" required=" ">
				<input type="text" placeholder="Your Website" required=" ">
				<textarea placeholder="Message" required=" "></textarea>
				<input type="submit" value="Add Comment">
				<div class="clearfix"> </div>
				</br>
			</form>
		</div>
	</div>